:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  text-decoration: underline;
  text-decoration-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.catchIncorrect {
  overflow-y: auto;
  max-width: 80%;
  min-height: 400px;
  max-height: fit-content;
  border: white solid 1rem;
  background-color: white;
  color: black;
  text-align: left;
}

.catchIncorrect li {
  list-style: none;
}

.returnSentences {
  left: 550px;
  top: 30px;
}
.returnSentences::before {
  content: "Originals";
}

.catchUsed {
  right: 50px;
  top: 30px;
}

.catchUsed::before {
  content: "Catch";
}

button:not(.span-button) {
  margin-top: 10px;
  width: 6rem;
  display: flex;
  flex-direction: column;
}

button:active {
  color: red;
}

.result-sentence-info:hover {
  cursor: pointer;
}

.modal-help {
  color: black;
  display: block;
  background: linear-gradient(
    90deg,
    rgba(188, 169, 196, 1) 0%,
    rgba(171, 161, 149, 1) 51%,
    rgba(252, 176, 69, 0.83) 100%
  );
  padding: 0.8rem;
  background-color: grey;
  min-width: 300px;
  z-index: 1000;
  font-style: normal;
  line-height: calc(105%);
  border: outset black 0.2rem;
  text-wrap: pretty;
  user-select: none;
}

a {
  color: black;
}

.bi-cloud-rain {
  background-color: white;
  color: white;
}

.finish-overlay {
  width: 80vw;
  background-color: #242424;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
}

@media (max-width: 500px) {
  .buttonsAction {
    transform: translateX(calc(30vw));
  }
}

@media (min-width: 1250px) {
  .container {
    margin: calc(3rem + 100px);
    margin-top: auto;
  }
}

.next-sentence {
  margin-bottom: 1rem;
}
